doctype html
html
  head
    title= title
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
    link(rel='css', href='/css/animate.css')
    link(rel='css', href='/css/bootstrap.min.css')
    link(rel='css', href='/css/linearicons.css')
    link(rel='css', href='/css/magnific-popup.css')
    link(rel='css', href='/css/normalize.css')
    link(rel='css', href='/css/own.carousel.min.css')
    link(rel='css', href='/css/responsive.css')
    link(rel='css', href='/style.css')
    link(rel='images', href='/images/about-logo.png')
    link(rel='images', href='/images/apple-icon.png')
    link(rel='images', href='/images/apple-touch-icon.png')
    link(rel='images', href='/images/logo.png')
    link(rel='images', href='/images/header-bg.png')
    link(rel='images', href='/images/bulb.png')
    link(rel='images', href='/images/closed.png')
    link(rel='images', href='/images/closed1.png')
    link(rel='images', href='/images/closedbulb.png')
    link(rel='images', href='/images/favicon.png')
    link(rel='images', href='/images/feature-image.png')
    link(rel='images', href='/images/header-mobile.png')
    link(rel='images', href='/images/photo.jpg')
    link(rel='images', href='/images/subscribe-bg.png')
    script(type='text/javascript' src='js/ajaxchimp.js')
    script(type='text/javascript' src='js/contact-form.js')
    script(type='text/javascript' src='js/javascript.js')
    script(type='text/javascript' src='js/magnific-popup.min.js')
    script(type='text/javascript' src='js/main.js')
    script(type='text/javascript' src='js/owl.carousel.min.js')
    script(type='text/javascript' src='js/scrollUp.min.js')
    script(type='text/javascript' src='js/wow.min.js')
    script(type='text/javascript' src='js/vendor/bootstrap.min.js')
    script(type='text/javascript' src='js/vendor/jquery-1.12.4.min.js')
    script(type='text/javascript' src='js/vendor/jquery-ui.js')
    script(type='text/javascript' src='js/vendor/modernizr-2.8.3.min.js')
  body
    block content
