<ion-list>
  <ion-item>
    <ion-label>Bulb 1:</ion-label>
    <ion-toggle color="primary" (ionChange)="toggle($event, '18')"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Bulb 2:</ion-label>
    <ion-toggle color="primary" (ionChange)="toggle($event, '23')"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Bulb 3:</ion-label>
    <ion-toggle color="primary" (ionChange)="toggle($event, '24')"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Bulb 4:</ion-label>
    <ion-toggle color="primary" (ionChange)="toggle($event, '25')"></ion-toggle>
  </ion-item>

</ion-list>